In [1]:
a=100

In [2]:
#Declaring and assigning variable
age=32
height=6.1
name="vikrant"
is_student=True

#printing variables
print("Age:", age)
print("Height:", height)
print("Name:", name)

Age: 32
Height: 6.1
Name: vikrant

In [3]:
#Naming Convention
#Variable names should be descriptive
#They must always start with letter or an underscore and contain letters, numbers and underescores
#Variables names are case sensitive

#valid variable names

first_name="Vikrant"
last_name="Nikam"

In [4]:
#Invalid variables names
#2age=30
#first-name="Vky"
#@name="Vky"

In [5]:
#Case Sensitive
name="Nikam"
Name="Vikrant"

In [6]:
#understanding variable types
#Python is dynamically typed, type of variable is determined at runtime

age=25 #int
height=6.1 #float
is_student=True #bool
name="Vikrant" #str

print(type(name))

<class 'str'>

In [7]:
#type checking and conversion

type(height)
age=25
print(type(age))

#Type_conversion

age_str=str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [8]:
age='25'
int(age)

print(type(int(age)))

<class 'int'>

In [9]:
name="Krish"
#5int(name)

#This cannot be done

In [10]:
height=5.1
type(height)

float

In [11]:
int(height)
print(type(int(height)))

<class 'int'>

In [12]:
#Dynamic Typing
#Python allows the type of a variable as the program executes
var=10
print(var,type(var))

10 <class 'int'>

In [13]:
var="Hello"
print(var,type(var))

Hello <class 'str'>

In [14]:
##Input
age=input("What is the age ")
print(age, type(age))


age=int(input("What is the age "))
print(age, type(age))

What is the age 5
5 <class 'str'>
What is the age 5
5 <class 'int'>